
.page-header
{
 width :90%;
  height:190px;
  margin:auto;
  text-align: center;  
  color:white;
  font-size: 60px; 
}

.about{
    background-color:black;  
    color:white;
}

h1 {
  width :90%;
  height:170px;
  margin:auto;
  text-align: center;  
  color:black;
  font-size: 80px;
  font-family: 'Palatino Linotype';
}
h2
{
  text-align: center; 
  font-size: 50px;
  font-family: 'Palatino Linotype';
  
}

h3,h5
{
  color: #6A0888;
  font-family: 'Palatino Linotype';
}

a {
    color:black;
    font-size: 15px;
}

p
{
  color: #110e3d;
  text-align: justify;
}

#commentContent p {
   text-align: center;  
}

.blog-nav{
   position: absolute;
   writing-mode: vertical-rl;
   text-orientation: mixed;
   white-space: nowrap;
   top: 55px;
}

.row {
  background-color:white;   
  border-radius: 10%;  
  font-size: 12px;
  line-height: 16px;
}

.news {
  background-color:white;   
  font-size: 12px;
  line-height: 16px;
}

.image{
    height: 550px;
    width: 450px;
}

.image1{
    height: 450px;
    width: 350px;
}

.image2{
    height: 250px;
    width: 250px;
}

.image3{
    height: 150px;
    width: 150px;
}

.images{
    height: 150px;
    width: 150px;
}

.minview
{
  margin-bottom: 100px;
}

body
{
  font-family: 'Palatino Linotype';
}

#main
{
  max-width:1280px;
  min-height:100%;
  margin:0 auto;
  position:relative;
}

.footer
{
  bottom: 0; 
  left: 0; 
  right: 0;
  background:#6A0888;
  color: white;
  width: 100%;
  height:30px;
}

.about1
{
  color:white !important;
}
